pkgbase = vidctl
	pkgdesc = Compress video to the exact size of each platform with ffmpeg 2-pass
	pkgver = 2.0.1
	pkgrel = 1
	url = https://github.com/fabianoflorentino/vidctl
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = npm
	depends = gtk3
	depends = webkit2gtk-4.1
	depends = ffmpeg
	optdepends = libnotify: desktop notifications for compression status
	source = https://github.com/fabianoflorentino/vidctl/archive/refs/tags/v2.0.1.tar.gz
	sha256sums = 8b24e3ee7e5447ab8452e44859b5c6bb9cd4581e3a3394c43e13830045bdb7a0

pkgname = vidctl
