pkgbase = vidctl
	pkgdesc = Compress video to the exact size of each platform with ffmpeg 2-pass
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/fabianoflorentino/vidctl
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = npm
	depends = gtk3
	depends = webkit2gtk-4.1
	depends = ffmpeg
	optdepends = libnotify: desktop notifications for compression status
	source = https://github.com/fabianoflorentino/vidctl/archive/refs/tags/v2.1.0.tar.gz
	sha256sums = 90c60915cd189831001b143bbe2ae981ebcf0316df5f7469e43e27b59a0fc0f5

pkgname = vidctl
