pkgbase = vidctl
	pkgdesc = Compress video to the exact size of each platform with ffmpeg 2-pass
	pkgver = 1.0.8
	pkgrel = 1
	url = https://github.com/fabianoflorentino/vidctl
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = npm
	depends = gtk3
	depends = webkit2gtk-4.1
	depends = ffmpeg
	optdepends = libnotify: desktop notifications for compression status
	source = https://github.com/fabianoflorentino/vidctl/archive/refs/tags/v1.0.8.tar.gz
	sha256sums = da1612225a449acb06f3c68436b11e0ec9ee054fa3e0ec7ac3cdf5b6276b392f

pkgname = vidctl
